input {
	font-family: 'Gabriela', serif;
	font-size: 50px;
}

input#submit {
	background-color: #5d2892;
	font-family: 'Gabriela', serif;
}

select {
	font-family: 'Gabriela', serif;
	font-size: 50px;
}

form {
	font-family: 'Gabriela', serif;
	font-size: 50px;
}

textarea {
	font-family: 'Gabriela', serif;
	font-size: 25px;
}